<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>313998617632-d024nmgmu58a7ja03m881ogkl1ufu6km.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.313998617632-d024nmgmu58a7ja03m881ogkl1ufu6km</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>313998617632-i7s6gdmcg62rsre6s22idkt2ogfbfo4g.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyClivYEJ52js_oujMYVOXu16bq1COklFc0</string>
	<key>GCM_SENDER_ID</key>
	<string>313998617632</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.octa.lpbp</string>
	<key>PROJECT_ID</key>
	<string>lbpb-49a3c</string>
	<key>STORAGE_BUCKET</key>
	<string>lbpb-49a3c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:313998617632:ios:55505d0c9c188422e06045</string>
</dict>
</plist>